a{text-decoration: none;}
p{color: red;}
.font-20 {font-size: 20px;}
.font-30 {font-size: 30px;}
.font-40 {font-size: 40px;}
.yellow:hover {background-color: yellow;font-size: smaller;}
.box {
 width: 500px;
 padding: 10px;
 border: 1px solid black;
}
.box div {
 width: 180px;
 height: 50px;
 background-color: grey;
}
