
html,body{
   height: 100%;
  
}
body{display: flex;
justify-content: center;
align-items: center;}
.box {
    width: 500px;
    padding: 10px;
    border: 1px solid black;
}

.box div {
    width: 180px;
    height: 50px;
    background-color: grey;
    display: flex; 
    justify-content: center;        
    align-items: center;     
}
.box div:hover {
    background-color: yellow;
    font-size: smaller;
}
a {
    text-decoration: none;
}
p {
    color: red;
}
.box ul li:nth-child(1) {
    font-size: 20px;
}

.box ul li:nth-child(2) {
    font-size: 30px;
}

.box ul li:nth-child(3) {
    font-size: 40px;
}
